.navigation {
    padding-bottom: 20px;
    justify-content: space-between;
    align-content: space-between;
  
}

.navspace {
    margin-left: 5px;
    margin-right: 5px;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 10%;

}

#navbarNav{
    padding-left: 15%;
    justify-content: space-between;
}
#navbarNav ul li{
    margin-right: 20px;
}
.title {

    background-image:url(../images/header_pattern3.jpg);
    border-bottom: 2px solid black;
    padding-left: 40px;



}

.orange {
    padding-top: 20px;
    /* background-color: rgb(185, 177, 166); */
}

.top-links {
    align-items: center;
}


.bottom-link {
    color: black;
}

.footer-section {
    padding-top: 30px;
    background-color: rgb(169 37 37);
    color: rgb(238, 238, 9);
}

.contact {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-link {

    color: rgb(238, 238, 9);
}